# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
dev.py
db.sqlite3
media

# Environments
.env

.idea
webpack-stats.json
webpack-prod-stats.json
dump.json
