$bg-color: #00a7a5;
$card-bg-color: rgba(255, 193, 73, 0.9);
$theme-red-color: #ff3135;

@import url('https://fonts.googleapis.com/css?family=Kelly+Slab');

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

@import "uikit/src/scss/uikit-theme.scss";

body, html {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: black;
  min-height: 100vh;
  background-color: $bg-color;
  background: url("../assets/pattern.jpg");
  background-size: auto;
  background-attachment: fixed;
}

a {
  &:hover {
    text-decoration: none;
  }
}

header {
  .header {
    background-color: $card-bg-color;
    padding: 20px;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    .text {
      font-family: 'Kelly Slab', cursive;
      display: block;
    }
  }
  .primary-menu {
    background-color: $theme-red-color;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: -10px;
      top: -20px;
      border: 10px solid transparent;
      border-bottom: 10px solid #710918;
      border-left: 0;
    }
    &:before {
      content: '';
      position: absolute;
      left: -10px;
      top: -20px;
      border: 10px solid transparent;
      border-bottom: 10px solid #710918;
      border-right: 0;
    }
    nav {
      &:after {
        content: '';
        position: absolute;
        right: -10px;
        top: 0;
        border: 10px solid transparent;
        border-top: 35px solid $theme-red-color;;
      }
      &:before {
        content: '';
        position: absolute;
        left: -10px;
        top: 0;
        border: 10px solid transparent;
        border-top: 35px solid $theme-red-color;;
      }
      ul {
        list-style: none;
        li {
          .menu-dropdown {
            background: $theme-red-color;
            padding: 0;
          }
          a {
            display: block;
            color: white;
            padding: 0px 10px;
            min-height: 35px;
            line-height: 35px;
            transition: all .2s ease-out;
            &:hover {
              text-decoration: none;
              background-color: $card-bg-color;
              color: black;
            }
          }
        }
      }
    }
  }
}

.ss-card {
  background-color: $card-bg-color;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.text-kelly {
  font-family: 'Kelly Slab', cursive;
}

.category-tile {
  .uk-card-media-top {
    border-radius: 20px 20px 0px 0px;
  }
  .category-header {
    background: $bg-color;
    color: white;
    position: relative;
    h3 {
      color: white;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background-color: $bg-color;
        transform: translateX(50%) skewX(-10deg);
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background-color: $bg-color;
        transform: translateX(-50%) skewX(10deg);
      }
    }
    &:after {
      content: '';
      position: absolute;
      right: -5px;
      top: -10px;
      border: 5px solid transparent;
      border-bottom: 5px solid #025553;
      border-left: 0;
    }
    &:before {
      content: '';
      position: absolute;
      left: -5px;
      top: -10px;
      border: 5px solid transparent;
      border-bottom: 5px solid #025553;
      border-right: 0;
    }
  }
}

.btn-more {
  background: $bg-color;
  color: white;
  &:active {
    background: #028785;
    color: #d2d2d2;
    border-color: $bg-color;
  }
  &:focus {
    background: #03d7d4;
    color: #ffffff;
    border-color: #04fffb;
  }
  &:hover {
    background: #028785;
    color: #d2d2d2;
    border-color: $bg-color;
  }
}

#products {
  .product-label {
    background: #00a1ff;
    z-index: 1;
    padding: 5px;
    font-size: small;
    color: white;
  }
  .uk-card-media-top {
    border-radius: 50% 5% 50% 5%;
    margin-bottom: 5px;
  }
  h3 {
    background: $bg-color;
    color: white;
    padding: 5px 0;
  }
}

.category-bar {
  padding: 2.5px;
  .category-item {
    padding: 2.5px;
  }
  a.category-btn {
    display: block;
    padding: 5px 10px;
    border: 1px solid #1ffffb;
    background: rgba(0, 182, 179, 0.4);
    color: #ffffff;
    &:hover {
      background: $bg-color;
    }
    &.active {
      background: $bg-color;
    }
    &.promo {
      background: rgba(255, 49, 53, 0.4);
      border: 1px solid #ff3135;
      &:hover {
        background: #ff3135;
      }
      &.active {
        background: #ff3135;
      }
    }
  }
}

