{% extends 'base.html' %}
{% load webpack_loader %}
{% block page_title %}
    {{ block.super }} | {{ category.title }} | {% for address in site.shop.address.all %}
    {{ address.city }}
{% endfor %}
{% endblock %}
{% block content %}
    <div id="products"></div>
    <div class="page-content">
        <h1 class="uk-text-center text-kelly">{{ category.title }}</h1>
    </div>
{% endblock %}
{% block extra_script %}
    <script type="text/javascript">
        const categoryId = "{{category.id}}"
    </script>
    {% render_bundle 'products' 'js' %}
{% endblock %}